:root {
	--primary-color: #2a518f;
	--secondary-color: #632673;
}

*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul { list-style: none; }

a { text-decoration: none; }

img {
	display: block;
	max-width: 100%;
}
